<h1> Listing Protocols </h1>

<% @protocols.each do |protocol| %>

<p>
	<%= protocol.name %>
</p>


<%end%>

<p> <%= link_to 'New protocol', new_protocol_path %> </p>
<p> <%= link_to 'Home', root_path %> </p>